#container{
	width: 100%;
	height: 100%;
}

#board{
	width: 60%;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 10px;
	padding-right: 50px;
	display: inline-block;
	margin-left: 50px;
}

.img-responsive{width:100%;
			border: 5px solid white;
			padding:0 px;		
}


td{
	/*height: 10vmin;
    width: 10vmin;/
    text-align: center;
    /*background-color: none;
    opacity: 0.85;*/

    /*height: 10vmin;
    width: 10vmin;*/
    text-align: center;
    background-color: black;
    opacity: 0.85;
}

body{
	background-image: url("../pics/bg1.jpeg");
	background-size: cover;
}

#right{
	width: 25%;
	height: 100%;
	float: right;
	display: inline-block;
}

#newgame{
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 10%;
	display: inline-block;
	padding: 20px;
	margin-top: 50px;
}

#option{
	font-size: 20px;
	color: white;
}

#showanswer{
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.7);
	height: 10%;
	width: 100%;
	display: inline-block;
	padding: 20px;
	margin-top: 10px;
}

#guessedWords, #time{
	cursor: pointer;
	height:30%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: inline-block;
	font-size: 50px;
	padding: 10px;
	color: white;
	margin-top: 10px;
	text-align: center;
}

#userinput{
	height:30%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: inline-block;
	padding: 10px;
	color: white;
	margin-top: 10px;
	text-align: center;
}

#second, #minute, #hour{
	background: none;
	width: 60px;
}